<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.zerock.mapper.member.MemberMapper">
  
  	<!-- 회원 정보 보기 -->
	<select id="selectById" resultType="org.zerock.domain.member.MemberDto">
	SELECT 
		id, 
		password, 
		email, 
		inserted
	FROM 
		Member
	WHERE 
		id = #{id}
	</select>


  	<!-- 회원 가입 -->
  	<insert id="insert">
  	INSERT INTO Member (id, password, email)
  	VALUES (#{id}, #{password}, #{email})
  	</insert>
  	
  	<!-- 회원 목록 -->
  	<select id="selectAll" resultType="org.zerock.domain.member.MemberDto">
  	SELECT
  		id,
  		'숨김' password,
  		email,
  		inserted
  	FROM 
  		Member
  	ORDER BY
  		id 
  	</select>
  	
  	
  </mapper>